<div className="berita-main-content p-2">
    <div className="flex flex-col gap-2">
       <BlocksMainCompanyBannerTwig/>
       <BlocksMainBreadcrumbTwig/>
       <BlocksMainNewsCardTwig/>
    </div>
</div>
