<div className="header-section p-2">
	<div className="lg:flex sm:flex-none lg:flex-row md:flex-col gap-2 justify-between lg:w-5/6 mx-auto">
		<BlocksBrandTwig/>
		<div className="flex gap-2">

			<BlocksMainWebMenubarTwig/>
			<BlocksMainMenuSearchButtonTwig/>
		</div>
	</div>
</div>
