<div className="lembaga-main-content p-2">
    <div className="flex flex-col gap-2">
       <BlocksMainCompanyBannerTwig/>
       <BlocksMainBreadcrumbTwig/>
       <BlocksLembagaFormalTwig/>
       <BlocksLembagaNonFormalTwig/>
    </div>
</div>
