<div className="profile-main-content p-2">
    <div className="flex flex-col gap-2">
       <BlocksMainCompanyBannerTwig/>
       <BlocksMainBreadcrumbTwig/>
       <BlocksShortCompanyProfileTwig/>
       <BlocksVisiMisiTwig/>
   
    </div>
</div>
