
{% set company = web_get_company() %}

<div class="brand p-2 flex sm:bg-grey-200 md:bg-grey-400">
  <div class="brand-logo w-[266px] h-[55px] dark:bg-[url('{{dark(company.logo)}}')] bg-[url('{{company.logo}}')]" >
  </div>
</div>
