<div class="floating-contact-buttons p-2 ">
  <a href="javascript:;">
    <img src="{{theme_url("images/icons/fly-whatsapp.png")}}"/>
  </a>
  <a href="javascript:;">
    <img src="{{theme_url("images/icons/fly-phone.png")}}"/>
  </a>
</div>
