<div class="floating-contact-buttons fixed bottom-[35%] p-2 flex flex-col gap-2 w-[48px]">
  <a href="javascript:;" class="dark:bg-black flex px-2 py-2 rounded-full">
  <span class="bi bi-whatsapp "></span>
    {# <img src="{{theme_url("images/icons/fly-whatsapp.png")}}"/> #}
  </a>
  <a href="javascript:;" class="dark:bg-black px-2 py-2 rounded-full">
  <i class="bi bi-telephone"></i>

    {# <img src="{{theme_url("images/icons/fly-phone.png")}}"/> #}
  </a>
</div>
