<div
	class="web-main-menu-bar p-2 pt-5">
	{# <img src="/api/cms/web-block/previews/1c6665f61a2d993aa2d2a740c15009d9.png"/> #}
	<div class="flex  flex-col mt-5 lg:flex-row lg:items-center lg:justify-end lg:mt-0">
		{% set webMenu = web_menu_get_list(1,100) %}
		{% for menu in webMenu.records %}
		{% if menu.hidden == 1 %}
		{# {% continue %} #}
		{% else %}
			<a class="inline-flex items-center gap-x-3 dark:text-white text-zinc-800 font-bold p-2 gap-2 hover:bg-green-500 hover:text-white" href="{{menu.link}}">{{menu.title}}</a>
		{% endif %}
		{% endfor %}
	</div>
</div>
