<div class="visi-misi p-2 lg:w-5/6 mx-auto">
  <div class="lg:grid lg:grid-cols-2 ">
    <div class="py-4">
      <h4 class="text-2xl bg-green-700 rounded-md p-2 w-auto">Visi</h4>
      <p class="p-4">“Mencetak Insan Muttaqin, Berakhlak mulia dan menguasai Ilmu Pengetahuan”</p>
    </div>
    <div class="p-4">
      <h4 class="text-2xl bg-green-700 rounded-md p-2 w-auto">Misi</h4>
      <ul class="py-4">
        <li>
          Mewujudkan pondok pesantren yang mampu menghasilkan lulusan yang mampu memahami dan mendalami ilmu agama,
          beriman dan bertakwa kepada Alloh SWT, serta berbudi pekerti luhur dan berakhlakul karimah.
        </li>
        <li>
          Memantapkan iman dan takwa serta mengambangkan ilmu pengetahuan agama untuk mencapai kebahagiaan hidup di
          dunia akhirat.
        </li>
        <li>
          Berusaha untuk selalu memegang dan melestarikan tradisi ulama terdahulu (ulama salaf) ala Ahlissunnah wal
          Jama’ah yang pada zaman ini mulai terkikis.
        </li>
        <li>
          Membantu santri agar tidak hanya cendekia dalam ilmu pengetahuan umum, namun juga diadasari nilai-nilai agama
          yang kokoh, khususnya melalui nilai-nilai ketauhidan dan nilai-nilai tasawuf agar mampu menjadi bekal
          kehidupannya.
        </li>
      </ul>
    </div>
  </div>
  {# <img src="/storage/previews/1b1a1ffa4b78b9aa4ca344533ff62e72.png"> #}
</div>
