
<div className="berita-detail p-2 w-3/4">

<div className="berita-detail p-2 w-3/4">
    <h3 className="text-2xl py-2">Pentingnya Pendidikan Agama untuk Tumbuh Kembang Anak</h3>
    <img className="w-full py-4 rounded-md" src="/storage/covers/eb060ccfc645f3ef93a9911d5dd98364.jpeg"/>

    <div>Jika Anda berpikiran bahwa pendidikan formal adalah satu-satunya pendidikan yang paling penting maka jelas perspektif tersebut salah. Bagi anak usia dini, tentu saja peran kedua orang tua sangatlah penting sebagai hal paling dasar untuk membantu membentuk kepribadian, moral, sikap, serta sifat anak tersebut.

Sebagai orang tua selayaknya memberikan pengarahan positif untuk membentuk karakter anak yang positif pula. Sekolah merupakan salah satu media untuk membantu membentuk karakter dan kepribadian Anak selain pendidikan dalam lingkungan keluarga.

Selain pendidikan formal, pendidikan keagamaan merupakan salah satu hal yang sangat penting, Pendidikan agama yang diajarkan akan membantu membentuk karakter yang sesuai dengan ajaran agama sejak usia dini.

Bahkan sekarang ini, pendidikan berbasis pesantren dengan ilmu keagamaan yang jauh lebih luas jika dibandingkan dengan sekolah formal pada umumnya banyak dipilih oleh para orang tua yang ingin membentuk kepribadian anak dengan penanaman ilmu agama yang cukup.

Melalui pesantren inilah anak akan dididik mulai dari tingkatan terkecil hingga setinggi-tingginya. Berbeda dengan sekolah formal yang terdiri dari PAUD, SD, SMP, SMA/SMK, Program pendidikan di pesantren terdiri dari I&#x2019;dady, Ibtida, Tsanawiyah, Aliyah, Wustha, dan Ulya.

Pendidikan agama membantu anak untuk membentuk karakter serta bagaimana mengambil keputusan dalam bertindak yang sesuai dengan agama dan syariah mereka agar tidak melanggar Aturan-Nya.

Dengan berpegang teguh pada agama, maka segala tindakan dan perbuatan akan dapat terkontrol dengan baik sehingga menghindari anak untuk melakukan hal-hal yang tidak diinginkan. Membentuk moral dan kepribadian yang baik dengan melalui pendidikan agama yaitu pondok pesantren dapat dilakukan sejak anak usia dini.

Yuk sekolahkan anak di pondok pesantren untuk mendapatkan ilmu pengetahuan agama islam yang lebih tinggi.</div>
</div>
<div className="berita-detail p-2 w-3/4">
    <h3 className="text-2xl py-2">Pentingnya Pendidikan Agama untuk Tumbuh Kembang Anak</h3>
    <img className="w-full py-4 rounded-md" src="/storage/covers/eb060ccfc645f3ef93a9911d5dd98364.jpeg"/>

    <div>Jika Anda berpikiran bahwa pendidikan formal adalah satu-satunya pendidikan yang paling penting maka jelas perspektif tersebut salah. Bagi anak usia dini, tentu saja peran kedua orang tua sangatlah penting sebagai hal paling dasar untuk membantu membentuk kepribadian, moral, sikap, serta sifat anak tersebut.

Sebagai orang tua selayaknya memberikan pengarahan positif untuk membentuk karakter anak yang positif pula. Sekolah merupakan salah satu media untuk membantu membentuk karakter dan kepribadian Anak selain pendidikan dalam lingkungan keluarga.

Selain pendidikan formal, pendidikan keagamaan merupakan salah satu hal yang sangat penting, Pendidikan agama yang diajarkan akan membantu membentuk karakter yang sesuai dengan ajaran agama sejak usia dini.

Bahkan sekarang ini, pendidikan berbasis pesantren dengan ilmu keagamaan yang jauh lebih luas jika dibandingkan dengan sekolah formal pada umumnya banyak dipilih oleh para orang tua yang ingin membentuk kepribadian anak dengan penanaman ilmu agama yang cukup.

Melalui pesantren inilah anak akan dididik mulai dari tingkatan terkecil hingga setinggi-tingginya. Berbeda dengan sekolah formal yang terdiri dari PAUD, SD, SMP, SMA/SMK, Program pendidikan di pesantren terdiri dari I&#x2019;dady, Ibtida, Tsanawiyah, Aliyah, Wustha, dan Ulya.

Pendidikan agama membantu anak untuk membentuk karakter serta bagaimana mengambil keputusan dalam bertindak yang sesuai dengan agama dan syariah mereka agar tidak melanggar Aturan-Nya.

Dengan berpegang teguh pada agama, maka segala tindakan dan perbuatan akan dapat terkontrol dengan baik sehingga menghindari anak untuk melakukan hal-hal yang tidak diinginkan. Membentuk moral dan kepribadian yang baik dengan melalui pendidikan agama yaitu pondok pesantren dapat dilakukan sejak anak usia dini.

Yuk sekolahkan anak di pondok pesantren untuk mendapatkan ilmu pengetahuan agama islam yang lebih tinggi.</div>
</div>
</div>