<div className="custom-caption-autoscroll-image-galery p-2 py-8">
  <h2 className="text-2xl font-bold text-center p-2">Majelis Rutin Ponpes Kanzul Ulum</h2>
  <div className="devider dark:border-white w-[30px] -mt-[5px] mb-[20px] border-b border-black h-[2px] mx-auto"/>
  
  <div data-hs-carousel="{"loadingClasses": "opacity-0", "isAutoPlay": true }" className="relative">
    <div className="hs-carousel relative overflow-hidden w-full min-h-[240px]">
      <div className="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0">
        <div className="hs-carousel-slide">
          <div className="flex justify-center h-full gap-2">
            <img src="http://localhost:7700/galery/galeri-ponpes-darussalam-jatibarang-1.jpg"/>
            <img src="http://localhost:7700/galery/galeri-ponpes-darussalam-jatibarang-2.jpg"/>
            <img src="http://localhost:7700/galery/galeri-ponpes-darussalam-jatibarang-3.jpg"/>
          </div>
        </div>
        <div className="hs-carousel-slide">
          <div className="flex justify-center h-full gap-2">
            <img src="http://localhost:7700/galery/galeri-ponpes-darussalam-jatibarang-4.jpg"/>
            <img src="http://localhost:7700/galery/galeri-ponpes-darussalam-jatibarang-5.jpg"/>
            <img src="http://localhost:7700/galery/galeri-ponpes-darussalam-jatibarang-6.jpg"/>
          </div>
        </div>
        <div className="hs-carousel-slide">
          <div className="flex justify-center h-full gap-2">
            <img src="http://localhost:7700/galery/galeri-ponpes-darussalam-jatibarang-7.jpg"/>
            <img src="http://localhost:7700/galery/galeri-ponpes-darussalam-jatibarang-8.jpg"/>
            <img src="http://localhost:7700/galery/galeri-ponpes-darussalam-jatibarang-9.jpg"/>
          </div>
        </div>
        <div className="hs-carousel-slide">
          <div className="flex justify-center h-full gap-2">
            <img src="http://localhost:7700/galery/galeri-ponpes-darussalam-jatibarang-10.jpg"/>
            <img src="http://localhost:7700/galery/galeri-ponpes-darussalam-jatibarang-11.jpg"/>
            <img src="http://localhost:7700/galery/galeri-ponpes-darussalam-jatibarang-12.jpg"/>
          </div>
        </div>

      </div>
    </div>

    <div className="hs-carousel-pagination flex justify-center absolute bottom-3 start-0 end-0 space-x-2">
      <span className="hs-carousel-active:bg-blue-700 hs-carousel-active:border-blue-700 size-3 border border-gray-400 rounded-full cursor-pointer"/>
      <span className="hs-carousel-active:bg-blue-700 hs-carousel-active:border-blue-700 size-3 border border-gray-400 rounded-full cursor-pointer"/>
      <span className="hs-carousel-active:bg-blue-700 hs-carousel-active:border-blue-700 size-3 border border-gray-400 rounded-full cursor-pointer"/>
      <span className="hs-carousel-active:bg-blue-700 hs-carousel-active:border-blue-700 size-3 border border-gray-400 rounded-full cursor-pointer"/>
    </div>
  </div>
  
</div>
