<div className="floating-contact-buttons fixed bottom-[35%] p-2 flex flex-col gap-2 w-[48px]">
  <Link onClick="KLIKPOON" to="#" className="dark:bg-black flex px-2 py-2 rounded-full">
  <span className="bi bi-whatsapp "/>
    
  </Link>
  <Link onClick="KLIKPOON" to="#" className="dark:bg-black px-2 py-2 rounded-full">
  <i className="bi bi-telephone"/>

    
  </Link>
</div>
