<div className="footer-contact-person-list-with-company-email p-2 lg:w-1/3">
  <h4 className="font-bold py-2">Kontak</h4>
    <ul>
          <li>
      <p className="text-xs flex gap-2"><span className="bi bi-whatsapp"/>+62 857-4107-0076 (Muhamad Ulul Fahmi)</p>
      
      </li>
          <li>
      <p className="text-xs flex gap-2"><span className="bi bi-whatsapp"/>+62 821-3844-5528  (Imam Nakhrowi)</p>
      
      </li>
          <li>
      <p className="text-xs flex gap-2"><span className="bi bi-whatsapp"/>+62 896-1719-1635  (Ahmad Abdul Ghofur)</p>
      
      </li>
      </ul>
</div>
