
<div className="footer-full-company-address p-2 w-1/3">
    <h4 className="font-bold py-2">Alamat</h4>

    <p className="text-xs flex gap-2"><span className="fa fa-home"/>Jl. Pramuka No.110, RT.003 / RW.005, Desa Jatibarang Kidul, Kec. Jatibarang, Kab. Cirebon 52261.</p>
</div>