

<div className="brand pl-4 pt-4 flex font-xs">
  <div className="brand-logo w-[266px] h-[55px] dark:bg-[url('/themes/green-ponpes/images/logo/dark-logo.png')] bg-[url('/themes/green-ponpes/images/logo/logo.png')]">
  </div>
</div>