
<div className="top-social-net-button-list w-[190px] ml-[70px] px-2">
    <ul className="flex gap-4 justify-between">
      <li className="flex"> 
        <Link target="_blank" className="hover:text-green-600 text-black" to="https://instagram.com/ponpes.kanzululum">
            <i className="bi bi-instagram"/>
        </Link>
      </li>
      <li> 
        <Link target="_blank" className="hover:text-green-600 text-black" to="https://facebook.com/PonpesKanzulUlum">
            <i className="bi bi-facebook"/>
        </Link>
      </li>
      <li> 
        <Link target="_blank" className="hover:text-green-600 text-black" to="https://twitter.com/kanzululum">
            <i className="bi bi-twitter"/>
        </Link>
      </li>
      <li> 
        <Link target="_blank" className="hover:text-green-600 text-black" to="https://youtube.com/@kanzululum">
            <i className="bi bi-youtube"/>
        </Link>
      </li>
    </ul>
</div>