<div className="main-news-card p-2 flex flex-col items-center">

	<div className="flex flex-col lg:flex-row lg:w-5/6 gap-2">
							<div className="flex lg:w-1/3  rounded-lg overflow-hidden shadow-xl">
			<div className="flex flex-col gap-2">
			<img className="h-[200px] w-auto object-cover" src="/storage/covers/eb060ccfc645f3ef93a9911d5dd98364.jpeg"/>
			<Link to="/lihat-berita/berita-detail/pentingnya-pendidikan-agama-untuk-tumbuh-kembang-anak" className="text-center text-lg min-h-[3em] font-bold py-1 hover:text-green-300">Pentingnya Pendidikan Agama untuk Tumbuh Kembang Anak</Link>
        	<p className="text-sm text-justify px-4 pb-4">Jika Anda berpikiran bahwa pendidikan formal adalah satu-satunya pendidikan yang paling penting maka jelas perspektif tersebut salah. Bagi anak usia dini, tentu saja peran kedua orang tua sangatlah penting sebagai hal paling dasar untuk membantu membentuk kepribadian, moral, sikap, serta sifat anak tersebut.
</p>
			</div>
			
			</div>
					<div className="flex lg:w-1/3  rounded-lg overflow-hidden shadow-xl">
			<div className="flex flex-col gap-2">
			<img className="h-[200px] w-auto object-cover" src="/storage/covers/50fd4dd528aaa47d8438a682f6a07756.jpeg"/>
			<Link to="/lihat-berita/berita-detail/pondok-pesantren-darussalam-jatibarang-brebes" className="text-center text-lg min-h-[3em] font-bold py-1 hover:text-green-300">Pondok Pesantren Darussalam Jatibarang Brebes</Link>
        	<p className="text-sm text-justify px-4 pb-4">Ponpes Darussalam Jatibarang yang berlokasi di Jl. Pramuka No.110 Jatibarang, Brebes, Jawa Tengah, 52261 merupakan pondok pesantren yang didirikan berkat perjuangan panjang seorang ulama yang sudah tidak asing lagi bagi masyarakat Brebes yaitu As- Syaikh Sholeh Muhammad Basalamah, dimana pondok pesantren ini didirikan pada tahun 1988.</p>
			</div>
			
			</div>
					<div className="flex lg:w-1/3  rounded-lg overflow-hidden shadow-xl">
			<div className="flex flex-col gap-2">
			<img className="h-[200px] w-auto object-cover" src="/storage/covers/618d5d6f3959c74619a5f99984fe56fa.jpeg"/>
			<Link to="/lihat-berita/berita-detail/mengenal-awal-sejarah-pondok-pesantren-di-indonesia" className="text-center text-lg min-h-[3em] font-bold py-1 hover:text-green-300">Mengenal Awal Sejarah Pondok Pesantren di Indonesia</Link>
        	<p className="text-sm text-justify px-4 pb-4">Ponpes Darussalam &#x2013; Cara menyebarkan dan mengajarkan agama Islam di Indonesia dilakukan oleh lembaga pendidikan yang dikenal dengan sebutan pondok pesantren. Perannya sangat besar dalam masa-masa awal penyebaran Islam di Nusantara.</p>
			</div>
			
			</div>
			</div>


</div>