<div className="news-post-with-cover-image-card-list p-2 flex flex-col items-center">
	<div className="flex items-center gap-2">
		<span className="bi bi-newspaper text-3xl"/>
		<p className="text-xl"><span className="font-bold">Berita</span><span> Ponpes Kanzul Ulum</span></p>
	</div>
	<div className="flex w-5/6 flex-col mt-5 lg:flex-row lg:items-center lg:justify-end lg:mt-0">
							<Link className="inline-flex items-center gap-x-3 dark:text-white text-zinc-800 font-bold p-2 gap-2 hover:bg-green-500 hover:text-white" to="/preview/berita-detail/pentingnya-pendidikan-agama-untuk-tumbuh-kembang-anak">
			<div className="flex flex-col gap-2">
			<img src="/storage/covers/eb060ccfc645f3ef93a9911d5dd98364.jpeg"/>
			<span className="text-center min-h-[3em]">Pentingnya Pendidikan Agama untuk Tumbuh Kembang Anak</span>
	
			</div>
			
			</Link>
					<Link className="inline-flex items-center gap-x-3 dark:text-white text-zinc-800 font-bold p-2 gap-2 hover:bg-green-500 hover:text-white" to="/preview/berita-detail/pondok-pesantren-darussalam-jatibarang-brebes">
			<div className="flex flex-col gap-2">
			<img src="/storage/covers/50fd4dd528aaa47d8438a682f6a07756.jpeg"/>
			<span className="text-center min-h-[3em]">Pondok Pesantren Darussalam Jatibarang Brebes</span>
	
			</div>
			
			</Link>
					<Link className="inline-flex items-center gap-x-3 dark:text-white text-zinc-800 font-bold p-2 gap-2 hover:bg-green-500 hover:text-white" to="/preview/berita-detail/mengenal-awal-sejarah-pondok-pesantren-di-indonesia">
			<div className="flex flex-col gap-2">
			<img src="/storage/covers/618d5d6f3959c74619a5f99984fe56fa.jpeg"/>
			<span className="text-center min-h-[3em]">Mengenal Awal Sejarah Pondok Pesantren di Indonesia</span>
	
			</div>
			
			</Link>
			</div>

</div>
