<div class="floating-toolbar-button">
  {#
  <div class="flex justify-between gap-2">
    #}
    {% include '../blocks/floating-contact-buttons.twig' %}
    {% include '../blocks/floating-go-to-top-button.twig' %}
    {#
  </div>
  #}
</div>
