<div class="footer-section p-2 bg-slate-50 dark:bg-slate-700">
    <div class="flex gap-2">
    <div class="flex flex-col gap-2 w-1/3">

       {% include '../blocks/footer-brand.twig' %}
       {% include '../blocks/footer-social-net-buttons.twig' %}
    </div>

       {% include '../blocks/footer-full-company-address.twig' %}
       {% include '../blocks/footer-contact-person-list-with-company-email.twig' %}
    </div>
</div>
