<div class="header-section p-2">
	<div class="lg:flex sm:flex-none lg:flex-row md:flex-col gap-2 justify-between lg:w-5/6 mx-auto">
		{% include '../blocks/brand.twig' %}
		<div class="flex gap-2">

			{% include '../blocks/main-web-menubar.twig' %}
			{% include '../blocks/main-menu-search-button.twig' %}
		</div>
	</div>
</div>
