<div class="header-section p-2 sticky top-0 bg-inherit dark:bg-slate-800">
	<div class="lg:flex sm:flex-none lg:flex-row md:flex-col gap-2 justify-between lg:w-5/6 mx-auto">
		{% include '../blocks/brand.twig' %}
		<div class=" hidden lg:flex lg:flex-row gap-2">

			{% include '../blocks/main-web-menubar.twig' %}
			{% include '../blocks/main-menu-search-button.twig' %}
		</div>
	</div>
</div>
