<div class="top-bar-section bg-[rgba(0,0,0,.07)] px-20 py-[.5em]">
	<div class="flex gap-2 justify-between">
		{% include '../blocks/company-short-address.twig' %}
		{% include '../blocks/top-social-net-button-list.twig' %}
	</div>
</div>
