<div className="floating-contact-buttons p-2 ">
  <Link onClick="KLIKPOON" to="#">
    <img src="/themes/green-ponpes/images/icons/fly-whatsapp.png"/>
  </Link>
  <Link onClick="KLIKPOON" to="#">
    <img src="/themes/green-ponpes/images/icons/fly-phone.png"/>
  </Link>
</div>
