<div className="main-menu-search-button p-2  pt-5">
	<Link to=":;">
		<span className="m-1 inline-flex justify-center items-center w-[32px] h-[32px] rounded-full bg-[#ddd] text-green-700">
			<i className="bi bi-search !font-bold "/>
		</span>
	</Link>
</div>
