<div className="web-main-menu-bar p-2 pt-5">
	
	<div className="flex flex-col mt-5 lg:flex-row lg:items-center lg:justify-end lg:mt-0">
							<Link className="inline-flex items-center gap-x-3 dark:text-white text-zinc-800 font-bold p-2 gap-2 hover:bg-green-500 hover:text-white" to="/">Home</Link>
					<Link className="inline-flex items-center gap-x-3 dark:text-white text-zinc-800 font-bold p-2 gap-2 hover:bg-green-500 hover:text-white" to="/profile">Profil</Link>
					<Link className="inline-flex items-center gap-x-3 dark:text-white text-zinc-800 font-bold p-2 gap-2 hover:bg-green-500 hover:text-white" to="/lembaga">Lembaga</Link>
					<Link className="inline-flex items-center gap-x-3 dark:text-white text-zinc-800 font-bold p-2 gap-2 hover:bg-green-500 hover:text-white" to="/kegiatan">Kegiatan</Link>
					<Link className="inline-flex items-center gap-x-3 dark:text-white text-zinc-800 font-bold p-2 gap-2 hover:bg-green-500 hover:text-white" to="/pendaftaran">Pendaftaran</Link>
					<Link className="inline-flex items-center gap-x-3 dark:text-white text-zinc-800 font-bold p-2 gap-2 hover:bg-green-500 hover:text-white" to="/galeri">Galeri</Link>
					<Link className="inline-flex items-center gap-x-3 dark:text-white text-zinc-800 font-bold p-2 gap-2 hover:bg-green-500 hover:text-white" to="/berita">Berita</Link>
					<Link className="inline-flex items-center gap-x-3 dark:text-white text-zinc-800 font-bold p-2 gap-2 hover:bg-green-500 hover:text-white" to="/kontak">Kontak</Link>
			</div>
</div>
