<nav aria-label="breadcrumb" className="main-breadcrumb bg-zinc-100 p-0 flex items-center shadow-md">
	<ol className="flex h-8 space-x-2 bg-zinc-200 p-2  items-center justify-center mx-auto w-3/6 ">
		<li className="flex  items-center">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" className="w-5 h-5 pr-1 dark:text-gray-400">
				<path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"/>
			</svg>
			<Link rel="noopener noreferrer" to="#" title="Back to homepage" className="hover:underline">
				Home
			</Link>
		</li>
		
	</ol>

</nav>
