<div className="welcome-message-banner text-zinc-800 p-4 flex flex-col items-center bg-[url('/images/arches.png')] mb-2 shadow-lg dark:text-white dark:bg-slate-700">
	<h3 className="text-2xl font-bold">Selamat Datang</h3>
	<p className="text-center mx-10 py-2">Di laman website resmi Pondok Pesantren Darussalam Jatibarang, Brebes, Jawa Tengah. Kami merupakan Lembaga Pendidikan Salaf yang mendidik para santri dan fokus pada pembekalan Aqidah, Syari&#x2019;ah dan Akhlaq ala Ahlussunnah wal Jama&#x2019;ah.</p>
</div>
