<div class="custom-caption-autoscroll-image-galery p-2">
	<h2 class="text-3xl text-center">Majelis Rutin Ponpes Darussalam</h2>

	<!-- Slider -->
	<div data-hs-carousel='{
						    "loadingClasses": "opacity-0",
										    "isAutoPlay": true
		
						  }' class="relative">
		<div class="hs-carousel relative overflow-hidden w-full min-h-[350px] bg-white rounded-lg">
			<div class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0">
				<div class="hs-carousel-slide">
					<div class="flex justify-center h-full bg-gray-100 p-6">
						<span class="self-center text-4xl transition duration-700">First slide</span>
					</div>
				</div>
				<div class="hs-carousel-slide">
					<div class="flex justify-center h-full bg-gray-200 p-6">
						<span class="self-center text-4xl transition duration-700">Second slide</span>
					</div>
				</div>
				<div class="hs-carousel-slide">
					<div class="flex justify-center h-full bg-gray-300 p-6">
						<span class="self-center text-4xl transition duration-700">Third slide</span>
					</div>
				</div>
			</div>
		</div>

		<div class="hs-carousel-pagination flex justify-center absolute bottom-3 start-0 end-0 space-x-2">
			<span class="hs-carousel-active:bg-blue-700 hs-carousel-active:border-blue-700 size-3 border border-gray-400 rounded-full cursor-pointer"></span>
			<span class="hs-carousel-active:bg-blue-700 hs-carousel-active:border-blue-700 size-3 border border-gray-400 rounded-full cursor-pointer"></span>
			<span class="hs-carousel-active:bg-blue-700 hs-carousel-active:border-blue-700 size-3 border border-gray-400 rounded-full cursor-pointer"></span>
		</div>
	</div>
	<!-- End Slider -->
</div>
