<div class="main-menu-search-button p-2  pt-5">
	<a href=":;">
		<span class="m-1 inline-flex justify-center items-center w-[32px] h-[32px] rounded-full bg-[#ddd] text-green-700 dark:bg-blue-500">
			<i class="bi bi-search !font-bold "></i>
		</span>
	</a>
</div>
