<div class="short-company-profile p-2 py-8 mx-10">
	<div class="flex gap-2 px-4">
		<div class="profile-image w-auto py-2 px-4">
			<img src="/profile/ponpes-darussalam-brebes-profil.jpg"/>
		</div>
		<div class="profile-overview  w-1/2 px-6 ">
			<h4 class="text-xl font-bold font-[700] text-green-600">Pondok Pesantren</h4>
			<h3 class="text-3xl font-bold pb-2">Kanzul Ulum</h3>
			<div class="profile-text py-2 text-justify text-zinc-800">

				<p class="py-2 first-letter:float-left first-letter:text-5xl first-letter:leading-3 first-letter:p-4 first-letter:text-white first-letter:bg-green-700 first-letter:mr-2 first-letter:mt-2 first-letter:mb-1/2">Syaikh Sholeh Muhammad Basalamah, beliau mendirikan yayasan Pendidikan Islam Darussalam pada tahun 1988. Berselang kurang lebih 11 tahun, madrasah ini menjadi pondok pesantren yang cukup besar, diberi nama Pondok Pesantren Darussalam. Pada tahun 1999 beliau menerima santri yang ingin tinggal di Pondok Pesantren Darussalam, yang sebelumnya mereka tinggal di rumah masing-masing. Tetapi sekarang ponpes Darussalam terus berkembang, baik secara kualitas maupun kuantitas.</p>
				<p class="py-2">Ponpes Darussalam mendidik para santri dengan menerapkan tarbiyyatussalaf dan dikolaborasi dengan kurikulum yang diadopsi dari pembelajaran khas Timur Tengah. Ponpes Darussalam tidak menyertakan pendidikan formal, seperti SD bahkan sampai Perguruan Tinggi, namun ijazah yang dikeluarkan bisa digunakan untuk mendaftar ke tingkat pendidikan yang lebih tinggi, baik di Indonesia atau di Timur Tengah. Jenjang pendidikan yang ada di pondok ini dimulai dari i’dadi, ibtida, tsanawiy, kemudian aliyah.</p>
			</div>
		</div>
	</div>
</div>
