<div class="welcome-message-banner p-2 flex flex-col items-center">
   <h3 class="text-xl font-bold">Selamat Datang</h3>
  <p class="text-center mx-10">Di laman website resmi Pondok Pesantren Darussalam Jatibarang, Brebes, Jawa Tengah. Kami merupakan Lembaga Pendidikan Salaf yang mendidik para santri dan fokus pada pembekalan Aqidah, Syari’ah dan Akhlaq ala Ahlussunnah wal Jama’ah.</p>
</div>