<div class="footer-section p-2">
    <div class="flex gap-2">
       {% include '../blocks/footer-brand.twig' %}
       {% include '../blocks/footer-social-net-buttons.twig' %}
       {% include '../blocks/footer-full-company-address.twig' %}
       {% include '../blocks/footer-contact-person-list-with-company-email.twig' %}
    </div>
</div>
