<div class="header-section p-2">
    <div class="flex gap-2">
       {% include '../blocks/brand.twig' %}
       {% include '../blocks/main-web-menubar-twig' %}
       {% include '../blocks/main-menu-search-button.twig' %}
    </div>
</div>
