<div class="header-section p-2 px-20">
	<div class="flex gap-2 justify-between">
		{% include '../blocks/brand.twig' %}
		<div class="flex gap-2">

			{% include '../blocks/main-web-menubar.twig' %}
			{% include '../blocks/main-menu-search-button.twig' %}
		</div>
	</div>
</div>
