<div class="lembaga-main-content p-2">
    <div class="flex flex-col gap-2">
       {% include '../blocks/main-company-banner.twig' %}
       {% include '../blocks/main-breadcrumb.twig' %}
       {% include '../blocks/lembaga-formal.twig' %}
       {% include '../blocks/lembaga-non-formal.twig' %}
    </div>
</div>
