<div class="top-bar-section bg-gray-100 px-10 text-sm">
    <div class="flex gap-2 justify-between">
       {% include '../blocks/company-short-address.twig' %}
       {% include '../blocks/top-social-net-button-list.twig' %}
    </div>
</div>
