<div className="header-section px-20">
	<div className="flex gap-2 justify-between">
		<BlocksBrandTwig/>
		<div className="flex gap-2">

			<BlocksMainWebMenubarTwig/>
			<BlocksMainMenuSearchButtonTwig/>
		</div>
	</div>
</div>
