<div className="homepage-main-content">
  <div className="flex flex-col">
    <BlocksHomepageImageCaraouselSlideTwig/>
    <BlocksWelcomeMessageBannerTwig/>
    <BlocksShortCompanyProfileTwig/>

    <BlocksMainCompanyBannerTwig/>
    <BlocksMainBreadcrumbTwig/>
    <BlocksCustomCaptionAutoscrollImageGaleryTwig/>
    <BlocksCompanyDepartmentIconListTwig/>
    <BlocksNewsPostWithCoverImageCardListTwig/>
  </div>
</div>
